.phone-image-container{
    width: auto;
    max-width: 100%;
    min-width: 400px;
    background:rgba(211, 211, 234, 0);
    margin-top:auto;
    margin-bottom:auto;
    margin-top: 40px;
    display: flex;
    position:relative;
    justify-content: center;
    transform: translateY(-10%);
}
.phone-container{
    height:500px;
    width: 300px;
    position:relative;
}
.phone-background{
    position:absolute;
    height: 100%;
    width: auto;
    right:50%;
    z-index: 2;
    transform: translateX(50%);
   
}
.dark{
    background: black;
}
.grey{
    background: rgb(230, 230, 230);
}

.inner-img{ 
    right:50%;
    transform: translate(50%,2.5%);
    position:absolute;
    width: auto;
    height: 94%;
    border-radius: 12px;
    z-index:1;
}

.position1{
    transform: translateX(16%) ;
}
.position2{
    transform: translate(-16%,12%) ;
}
.position3{
    transform: translate(10%,10%);
}
.position4{
    transform: translate(-10%,0%);
}

@media all and (max-width:700px){
    .phone-container{
        width: 53vw;
        height: 87vw;
    }
}

